/**CSS de Registro**/

body {
    width: 100%;
    margin: 0 auto;
    background-color: #6dcdb1;
}

/*header*/
* {
  box-sizing: border-box;
}

body {
  background-image: url("leaves.png");
}

img.logo {
  display: block;
  border-radius: 50%;
  border: gray 1px solid;
  margin-top: 35px;
  margin: 0 auto;
  width: 145px;
  height: 140px;
}

section.banner {
  display: none;
}

header span.fa {
  background-color: rgb(162, 186, 162);
  color: white;
  font-size: 34px;
  padding: 10px;
  margin-top: 12px;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

header ul {
  list-style: none;
  padding-left: 0;
  display: none;

}

header nav:hover ul {
  display: block;
}

header ul li {
  background-color: rgb(162, 186, 162);
    margin-bottom: 5px;
    text-align: center;
    text-transform: uppercase;

}

header ul li a {
  color: black;
  text-decoration: none;
}

/*main*/

main h2 {
    color: red;
    font-family: Helvetica, sans-serif;
}

main {
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.items {
    list-style-type: none;
    padding-left: 0;
}

label {
    margin-top: 10px;
    font-family: Helvetica, sans-serif;
}

.fecha-nac {
    display: flex;
    justify-content: space-between;
}

.dia {
    width: 22%;
}

.mes {
    width: 22%;
}

.año {
    width: 50%;
}

.terminos {
    margin-bottom: 10px;
    display: flex;
    justify-content: flex-end;
}

.botones {
    display: flex;
    justify-items: center;
    justify-content: space-around;
}

/*footer*/

#footer {
  background-color: rgb(162, 186, 162);
}

footer ul li {
  list-style: none;
}

.uldelfooter {
  margin-left: 10px;
  padding-inline-start: 10px;
}


.piedepagina {
  margin-left: 1px;
}

/*perfil de usuario*/

.profile{
    margin-top: 15px;
    margin-bottom: 15px;
}


.foto-perfil {
    width: 100%;
    margin-bottom: 10px;
}

.foto-perfil img {
    display: block;
    margin: 2px auto;
    width: 70%;
    border-radius: 50%;
}


/*media queries main para ipad*/

@media only screen and (min-width: 768px) {

    label {
        margin-top: 20px;
    }

    .nombre-apellido {
        display: flex;
        justify-content: space-around;
    }

    .genero-pais {
        display: flex;
        justify-content: space-around;
    }

    .email-confirmar {
        display: flex;
        justify-content: space-around;
    }

    .pass-confirmar {
        display: flex;
        justify-content: space-around;
    }

    .campo {
        width: 45%;
    }

    .año {
        width: 45%;
        position: relative;
        right: 20px;
    }

    .date {
        position: relative;
        left: 20px;
    }

    .dia {
        position: relative;
        left: 20px;
    }

    .mes {
        position: relative;
        right: 15px;
    }

    .terminos {
        display: flex;
        justify-content: flex-start;
    }

    .botones {
        margin-top: 20px;
    }

    .boton-registrarme {
        width: 200px;
    }

    .boton-cancelar {
        width: 200px;
    }

    .profile {
    display: flex;
    justify-content: space-around;
    }

    .foto-perfil {
    width: 40%;
    margin-bottom: 10px;
    }

    .ladoDatos {
        width: 40%;
    }

    .ladoDatos h2 {
        color: white;
    }

    .ladoDatos p {
        color: white;
    }

    .cuerpo-perfil {
        background-color: lightslategray;
    }

    .botones-perfil {
        display: flex;
        justify-content: center;
    }



    
}


/*media queries main para desktop*/

@media only screen and (min-width: 1024px){
    body {
        width: 80%;
        background-color: white;

    }

    main h2{
        color: #6dcdb1;
    }

    .botones-perfil {
        position: relative;
        width: 50%;
        margin: 0 auto; 
        left: 100px;
        bottom: 70px;
    }

    .ladoDatos h2 {
        color: black;
    }

    .ladoDatos p {
        color: black;
    }

    .cuerpo-perfil {
        background-color: white;
    }
}




