body {
    width: 100%;
    margin: 0 auto;
    background-color: #6dcdb1;
}

/*header a razon de modelo*/
header ul {
    width: 100%;
    padding-left: 0;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

header ul li a {
    font-family: Helvetica, sans-serif;
    font-size: 65%;
    text-decoration: none;
    color: black;
}

/*main*/

main h2 {
    color: red;
    font-family: Helvetica, sans-serif;
}

main {
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.items {
    list-style-type: none;
    padding-left: 0;
}

label {
    margin-top: 10px;
    font-family: Helvetica, sans-serif;
}

.fecha-nac {
    display: flex;
    justify-content: space-between;
}

.dia {
    width: 22%;
}

.mes {
    width: 22%;
}

.año {
    width: 50%;
}

.terminos {
    margin-bottom: 10px;
    display: flex;
    justify-content: flex-end;
}

.botones {
    display: flex;
    justify-items: center;
    justify-content: space-around;
}


/*media queries para ipad*/

@media only screen and (min-width: 768px) {

    label {
        margin-top: 20px;
    }

    .nombre-apellido {
        display: flex;
        justify-content: space-around;
    }

    .genero-pais {
        display: flex;
        justify-content: space-around;
    }

    .email-confirmar {
        display: flex;
        justify-content: space-around;
    }

    .pass-confirmar {
        display: flex;
        justify-content: space-around;
    }

    .campo {
        width: 45%;
    }

    .año {
        width: 45%;
        position: relative;
        right: 20px;
    }

    .date {
        position: relative;
        left: 20px;
    }

    .dia {
        position: relative;
        left: 20px;
    }

    .mes {
        position: relative;
        right: 15px;
    }

    .terminos {
        display: flex;
        justify-content: flex-start;
    }

    .botones {
        margin-top: 20px;
    }

    .boton-registrarme {
        width: 200px;
    }

    .boton-cancelar {
        width: 200px;
    }
    
}


/*media queries para desktop*/

@media only screen and (min-width: 1024px){
    body {
        width: 80%;
        background-color: white;

    }

    main h2{
        color: #6dcdb1;
    }
}


